Repository Sowith/sowith, pull requests merged in 2023-09, with the labels that each got.

#19 🎨Design: 검색 - 세부 디자인 구현 (#16)
  src/App.tsx
  src/assets/icon/icon-arrow.svg
  src/assets/icon/icon-close.svg
  src/assets/icon/icon-dot.svg
  src/assets/icon/icon-folder.svg
  src/assets/icon/icon-heart_filled.svg
  src/assets/icon/icon-heart_unfilled.svg
  src/assets/icon/icon-history_text.svg
  src/assets/icon/icon-multiple_photos.svg
  src/assets/icon/icon-search.svg
  src/assets/icon/icon-sowith.svg
  src/assets/icon/icon-tag.svg
  src/assets/icon/icon-user.svg
  src/assets/icon/icon-users_group-black.svg
  src/assets/icon/icon-users_group-white.svg
  src/assets/testImg/testimg-folder.png
  src/assets/testImg/testimg-folder_creator.png
  src/assets/testImg/testimg-group.png
  src/assets/testImg/testimg-post.svg
  src/assets/testImg/testimg-user.png
  src/assets/testImg/testimg-vertical.jpg
  src/components/search/AccountItem.jsx
  src/components/search/AccountList.jsx
  src/components/search/FolderItem.jsx
  src/components/search/FolderList.jsx
  src/components/search/GroupItem.jsx
  src/components/search/GroupList.jsx
  src/components/search/HistoryItem.jsx
  src/components/search/PostItem.jsx
  src/components/search/PostList.jsx
  src/components/search/SearchBar.jsx
  src/components/search/TagItem.jsx
  src/components/search/TagList.jsx
  src/pages/search/SearchByCategoryPage.jsx
  src/pages/search/SearchHistoryPage.jsx
  src/pages/search/SearchMainPage.jsx
  src/pages/search/SearchPage.jsx
  src/pages/search/SearchPage2.jsx
  src/pages/search/SearchWithAccountPage.jsx
  src/pages/search/SearchWithFolderPage.jsx
  src/pages/search/SearchWithGroupPage.jsx
  src/pages/search/SearchWithPostPage.jsx
  src/pages/search/SearchWithTagPage.jsx
Labels: enhancement, style

#20 :art:Design: 프로필 top,tab,bottom 레이아웃(#18)
  src/App.tsx
  src/assets/icon/icon-bookmark.svg
  src/assets/icon/icon-folder.svg
  src/assets/icon/icon-group.svg
  src/assets/icon/icon-post.svg
  src/assets/profiletest.jpeg
  src/components/profile/ProfileTapMenu.tsx
  src/components/profile/ProfileTop.tsx
  src/components/profile/profileBottom/ProfileBottomBookMark.tsx
  src/components/profile/profileBottom/ProfileBottomFolder.tsx
  src/components/profile/profileBottom/ProfileBottomPost.tsx
  src/components/profile/profileBottom/profileBottomGroup.tsx
  src/custom.d.ts
  src/pages/Test.tsx
  src/pages/profile/ProfilePage.tsx
  tsconfig.json
Labels: style

#21 :art:Design: GroupUI, StepBar 컴포넌트 구현 (#18)
  src/components/common/GroupUI.tsx
  src/components/common/StepBar.tsx
  src/style/GlobalStyle.jsx
Labels: style

#24 🎨Design: 게시글 작성 - 세부 디자인 구현(#23)
  src/assets/icon/icon-back-arrow.svg
  src/assets/icon/icon-bookmark copy.svg
  src/assets/icon/icon-camera.svg
  src/assets/icon/icon-cancel-hashtag.svg
  src/assets/icon/icon-cancel-humantag.svg
  src/assets/icon/icon-current-location-.svg
  src/assets/icon/icon-dot copy.svg
  src/assets/icon/icon-folder copy.svg
  src/assets/icon/icon-folder-plus.svg
  src/assets/icon/icon-hash-tag.svg
  src/assets/icon/icon-location.svg
  src/assets/icon/icon-move-arrow.svg
  src/assets/icon/icon-phrase-write.svg
  src/assets/icon/icon-picture-count.svg
  src/assets/icon/icon-sowith-logo.svg
  src/assets/icon/icon-user-tag.svg
  src/assets/testImg/profile_1.jpg
  src/assets/testImg/profile_2.jpg
  src/assets/testImg/profile_3.jpg
  src/assets/testImg/profile_4.jpg
  src/assets/testImg/profile_5.jpg
  src/components/common/AlertBox.jsx
  src/components/common/Button.jsx
  src/components/common/FolderList.jsx
  src/components/common/HashTag.jsx
  src/components/common/UserTag.jsx
  src/components/post/CheckBox.jsx
  src/components/post/Header.jsx
  src/components/post/Input.jsx
  src/components/post/SearchBar.jsx
  src/components/post/SelectedPicture.jsx
  src/components/post/UserItem.jsx
  src/hooks/useAlertControl.js
  src/hooks/useModalControl.js
  src/pages/PostTS.jsx
  src/pages/post/PostInputInfoPage.jsx
  src/pages/post/PostSelectFolderPage.jsx
  src/pages/post/PostSelectHashTagPage.jsx
  src/pages/post/PostSelectLocationPage.jsx
  src/pages/post/PostSelectPicturePage.jsx
  src/pages/post/PostSelectUserTagPage.jsx
  src/style/GlobalStyle.jsx
Labels: enhancement, style

#26 🛠Feat: 프로필 데이터 처리를 위한 작업들/#25
  package-lock.json
  package.json
  src/App.tsx
  src/assets/icon/icon-arrow-next.svg
  src/assets/icon/icon-profile-update-cancel.svg
  src/assets/icon/icon-profile-update-img.svg
  src/assets/icon/icon-profile-update-save.svg
  src/assets/icon/icon-setting.svg
  src/assets/icon/icon-sowith-heart.svg
  src/assets/icon/icon-sowith.svg
  src/assets/logo/logo-sowith-wide.png
  src/components/common/StepBar.tsx
  src/components/profile/ProfileTapMenu.tsx
  src/components/profile/ProfileTop.tsx
  src/components/profile/profileBottom/ProfileBottomPost.tsx
  src/components/profile/profileBottom/profileBottomGroup.tsx
  src/components/search/SearchHistory.tsx
  src/custom.d.ts
  src/firebase/config.js
  src/pages/LoginPage.tsx
  src/pages/SignUpTS.tsx
  src/pages/Test.tsx
  src/pages/profile/ProfileGroupDetailPage.tsx
  src/pages/profile/ProfilePage.tsx
  src/pages/profile/ProfileUpdatePage.tsx
  src/pages/search/SearchByCategoryPage.tsx
  src/recoil/loginToken.ts
Labels: enhancement

#33 :art:Design: 회원가입 완료 후 로고플레이 페이지(#32)
  src/App.tsx
  src/assets/icon/icon-star-yellow.svg
  src/assets/logo/logo-ground.svg
  src/assets/logo/logo-heart.svg
  src/assets/logo/logo-sowith-only-text.svg
  src/components/common/GroupUI.tsx
  src/components/common/Input.jsx
  src/pages/SignUpCompletedPage.tsx
  src/pages/profile/ProfileGroupDetailPage.tsx
  src/pages/profile/ProfilePage.tsx
  src/style/GlobalStyle.jsx
Labels: style
